<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAODLL.Properties.Settings.QLDLConnectionString" connectionString="Data Source=DESKTOP-6QE5JP6;Initial Catalog=QLDL;Integrated Security=True"
            providerName="System.Data.SqlClient" />
      <add name="DAODLL.Properties.Settings.QLDLConnectionString"
    connectionString="Data Source=LENOVO-PC\LAM;Initial Catalog=QLDL;Integrated Security=True"
    providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>